.header-container  {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.header-container > .header-left {
    display: flex;
    justify-content: space-between;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.menu {
  margin-left: 40px;
}

.menu > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.menu > ul > li {
    list-style:  none;
    cursor: pointer;
}

.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.header-right >img {
    width: 40px;
    height: 40px;
}
.header-right .image  {
    cursor: pointer;
    position: relative;
}
.header-right .image .item-number {
    background: hsl(26, 100%, 55%);
    font-size: small;
    border-radius: 100%;
    font-weight: bold;
    position: absolute;
    right: 0;
    width: 80%;
    margin-top: -12px;
}





/* Tablet screens */
@media screen and (max-width: 768px) {
    .header-container {
  justify-content: space-between;
    }
    .header-left {
        padding: 0px 0px;
        align-items: left;
        justify-content: left;
        padding: 0px 0px;
    }
    .header-left .logo {
        
        align-items: left;
        justify-content: left;
        width: 100%;
        
    }
    .header-left .logo img {
        
        margin-left: 10px;
    }
    
    
    .menu {
      display: none;
    }

}

/* Mobile screens */

@media screen and (max-width: 450px) {
    
    .header-left {
        padding: 0px 0px;
    }
    
    .header-left .logo {
        margin-left: 0px;
    }
    
    .menu {
      display: none;
    }

}